/* Styles globaux */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #b61111;
    padding: 0;
    margin: 0;
}

/* Première ligne de la barre supérieure */
.top-bar-first-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: white;
    color: white;
}

.logo-line img {
    height: 60px;
}

.search-bar {
    flex: 0 0 200px;
    margin: 0 20px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    text-align: center;
}

.cart-icon {
    position: relative;
    cursor: pointer;
}

.cart-icon i {
    font-size: 30px;
    color: #e67e22;
}

.cart-count {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red;
    color: white;
    padding: 5px 10px;
    border-radius: 50%;
    font-size: 14px;
}

/* Séparation entre les lignes */
.separator {
    height: 1px;
    background-color: black;
    margin: 10px 0;
}

/* Deuxième ligne : Boutons de filtrage */
.top-bar-second-line {
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    background-color: #fff;
}

.filter-container {
    display: flex;
    gap: 15px;
}

.filter-button {
    padding: 10px 20px;
    background-color: #e67e22;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.filter-button:hover {
    background-color: #d45d13;
}
